[submodule "libraries/adafruit-keyboard"]
	path = libraries/adafruit-keyboard
	url = https://github.com/lovrojakic/adafruit-keyboard
[submodule "libraries/Adafruit_BusIO"]
	path = libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "libraries/Adafruit_ILI9341"]
	path = libraries/Adafruit_ILI9341
	url = https://github.com/adafruit/Adafruit_ILI9341
[submodule "libraries/XPT2046_Touchscreen"]
	path = libraries/XPT2046_Touchscreen
	url = https://github.com/PaulStoffregen/XPT2046_Touchscreen
